/* line 1, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 6, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
img {
  border: 0;
}

/* line 9, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder {
  display: block;
  overflow: hidden;
  padding: 20px;
}

/* line 14, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item:first-child {
  float: left;
}

/* line 17, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item {
  display: inline-block;
  width: 150px;
  overflow: hidden;
  position: relative;
  margin: 0 12px 12px 0;
}

/* line 24, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-del {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: url("/assets/ckeditor/filebrowser/gal_del-5103ec7de60473f8c5bafa0208257dca3a993edb783a766666edbc606fd6c531.png") no-repeat left center;
  width: 17px;
  height: 17px;
}

/* line 33, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .preloader {
  background: url("/assets/ckeditor/filebrowser/preloader-3799a3e41d7787a31dac5796ebccc242951da2f2b57eb088326ab3bffe15056a.gif") no-repeat center center;
  width: 118px;
  height: 100px;
}

/* line 38, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-del:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/* line 43, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-upload-holder input {
  height: 162px;
}

/* line 46, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-upload-holder .add:hover {
  text-decoration: underline;
}

/* line 49, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder, .gal-holder .gal-item .gal-upload-holder {
  display: block;
  margin: 6px 6px 0 0;
  overflow: hidden;
  padding: 12px;
  background: #fff;
  border: solid 1px #D3D3D3;
  min-height: 138px;
}

/* line 58, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder.hover {
  background: #DFF1FF;
  border: solid 1px #99CCFF;
}

/* line 62, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder.selected {
  background: #B4D9FF;
  border: solid 1px #6565FE;
}

/* line 66, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-upload-holder .add {
  display: block;
  color: #2e5aff;
  background: url("/assets/ckeditor/filebrowser/gal_add-e97dc0969bf9a7b88d048bcc2e4eb28a2f9ae75763e7076b4c68ee2e7de3ea05.png") no-repeat left center;
  padding-left: 33px;
  line-height: 25px;
  text-decoration: none;
  margin: 50px 0 0 10px;
  font-size: 14px;
}

/* line 76, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder .img {
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}

/* line 81, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder .img-data {
  display: block;
  overflow: hidden;
  padding-top: 5px;
}

/* line 86, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder .img-data .img-name {
  display: block;
  color: #333;
  padding-bottom: 5px;
  font-size: 12px;
  overflow: hidden;
  width: 500px;
}

/* line 94, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.img-name {
  word-wrap: break-word;
  width: auto !important;
}

/* line 98, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder .img-data .time-size {
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #666;
}

/* line 104, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder .img-data .time-size .time {
  display: block;
  float: left;
}

/* line 108, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-holder .gal-item .gal-inner-holder .img-data .time-size .size {
  display: block;
  float: right;
}

/* line 112, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-more {
  display: block;
  overflow: hidden;
  border-top: dashed 1px #d3d3d3;
  padding: 20px 0;
  text-align: center;
}

/* line 119, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-more a {
  color: #2e5aff;
  background: url("/assets/ckeditor/filebrowser/gal_more-93d8887361f4dd7f757c20a186a2dae6e5cc6698da238814eacbff7b19a43f51.gif") no-repeat left center;
  padding-left: 15px;
  font-size: 14px;
  text-decoration: none;
}

/* line 126, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.gal-more a:hover {
  text-decoration: underline;
}

/* line 130, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.pagination {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

/* line 141, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.pagination a {
  height: 40px;
  width: 50%;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none;
  background: #f8f8f8;
  border-color: #f5c002;
  color: #000;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  font-weight: 400;
  font-size: 13px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 170, /home/vagrant/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/ckeditor-4.2.4/app/assets/stylesheets/ckeditor/filebrowser/uploader.scss */
.pagination a:hover {
  background: #fff;
}
