<div class="about">ABOUT ME</div>
<p>会津大学コンピュータ理工学部４年の藤井 亮輔です。</p>
<p>まずはじめに私は、2016年夏に精神的な病気になり休学をしました。そして、治療を行い病気を治すことができました。</p>
<p>治療開始から約半年後に回復をしスーパーのアルバイトを始めました。朝と昼は自宅でプログラミング、夜はアルバイトという生活を送りました。</p>
<p>日々アルバイトをする中、昼間はPHPで掲示板を作成しました。</p>
<p>掲示板を完成し、次にフレームワークを用いてWebアプリを作成したいと思い、チュートリアルが充実していて日本語の情報が多くとっつきやすいと感じたRubyonRailsのチュートリアルをやりました。チュートリアルをやっている途中で自分でなにかを作ってみたい！と思い、このブログを作ってみました。</p>
<p>そして、2018年4月より復学をし今に至ります。</p>


<p></p>
<p></p>
<p></p>
<p>言語:　C、C++、Java、PHP、Ruby</p>
<p>好き:　アニメ、ゲーム</p>
<p>興味:　Go、Vue.js、機械学習</p>


<p></p>
<p></p>
<p></p>
<p></p>




