<%# output:title,time,tag,description,picture(line) %>
<% @lists.each do |list| %>
  <div class="post">
    <h1><div class="heading1"><%= list.title %></div></h1>
    <div class="time">
      <%= list.created_at.to_s(:ja) %>
    </div>
    <br />
    <div class="tags">
      <% list.tags.each do |tag| %>
      <span class="square_btn"><%= render tag %></span>
    <% end %>
    </div>
    <div class="description">
      <%== list.description %>
    </div>
  </div>
<% end %>
<%# output:pagination %>
<%= paginate @lists %>


