<%# output:title,time,tag,description,picture %>

<% @posts.each do |post| %>
  <br><h1><%= post.title %></h1><br>
  <br><%= post.created_at.to_s(:ymd) %><br> 
      <%= render post.tags %><br>
  <h1><%= post.description %><br></h1>
    <br>
    <p><img alt="" src="/uploads/ckpost/pictures/6/content_line_8.png" style="width: 800px; height: 134px;" /></p>
<% end %>

<%# output:pagination %>
<%= paginate @posts %>
