<%#<p id="notice"><%= notice ></p> %>
<div class="post">
  <h1><div class="heading1"><%= @post.title %></div></h1>
  <div class="time">
    <%= @post.created_at.to_s(:ja) %>
  </div>
  <div class="tags">
    <% @post.tags.each do |tag| %>
      <span class="square_btn"><%= render tag %></span>
    <% end %>
  </div>
  <div class="description">
    <%== @post.description %>
  </div>
</div>