&lt;%#
<p id="notice">
&lt;%= notice &gt;
</p>
<p>%&gt;</p>
<h1>
<div class="heading1">
&lt;%= <span class="citation" data-cites="post.title">@post.title</span> %&gt;
</div>
</h1>
<p>&lt;%= <span class="citation" data-cites="post.created_at.to_s">@post.created_at.to_s</span>(:ja) %&gt; <br /> <span class="square_btn">&lt;%= render <span class="citation" data-cites="post.tags">@post.tags</span> %&gt;</span> <br /> &lt;%== <span class="citation" data-cites="post.description">@post.description</span> %&gt;</p>
