// Place all the styles related to the Editors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  //smartphone
  @media only screen and (max-width: 450px){
    text-align: left;
  }
  //tablet
  @media only screen and (min-width:451px) and (max-width:1040px){
  }
  margin-top: 50px;
  margin-bottom: 200px;
  text-align: center;
  word-wrap: break-word;

    h1 {
      font-size: 200%;
    }
}


.time, .tags{
  @media only screen and (max-width: 450px){
    //mobile
    font-size: 10px;
  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
  }
  font-size: 15px;
  width: 350px;
  text-align:left;
  display:inline-block;
}

.description {
  @media only screen and (max-width: 450px){
    width: 360px;
    font-size: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
    width: auto;
    overflow-wrap: break-word;
    word-break: break-all;

  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
  }
  line-height: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 723px;
  text-align:left;
  display:inline-block;

// CKEDITOR output css
p {
  @media only screen and (max-width: 450px){
    //mobile
  font-size: 15px;

  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
  }
  //PC
  font-size: 16px;
}
}

.heading1{
  @media only screen and (max-width: 450px){
    //smartphone
    position:relative;
    padding-left:20px;
    border-bottom:2px solid #ccc;
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    width: auto;
  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
  }

  //PC
  position:relative;
  padding-left:20px;
  border-bottom:2px solid #ccc;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  width: 723px;
  margin: auto;
  text-align: left;
}

.heading1:before{
  content:'';
  height:12px;
  width:12px;
  display:block;
  background:#00A8FF;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
  -box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
  position:absolute;
  top:-0px;
  left:5px;
  transform:rotate(-50deg);
  -webkit-transform:rotate(-50deg);
  -moz-transform:rotate(-50deg);
  -o-transform:rotate(-50deg);
  -ms-transform:rotate(-50deg);
}

.heading1:after{
  content:'';
  height:8px;
      width:6px;
      display:block;
      background:#00A8FF;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
      -box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
      -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
      -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
      position:absolute;
      top:16px;
      left:2px;
      transform:rotate(-90deg);
      -webkit-transform:rotate(-90deg);
      -moz-transform:rotate(-90deg);
      -o-transform:rotate(-90deg);
      -ms-transform:rotate(-75deg);
}
