// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  @media only screen and (max-width: 415px){
    //mobile
    line-height: 0.8em;
  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
  }
  //PC
  text-align: center;
}

//それぞれのページ(about,post)の本文
p {
  @media only screen and (max-width: 450px){
    //mobile
    text-align: left;
    display: inline-block;
    font-size: 15px;
    width: 260px;
    overflow-wrap: break-word;
    word-break: break-all;
  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
    width: 540px;
  }
  font-size: 16px;
  width: 723px;
  text-align: left;
  display: inline-block;
}

//Aboutの見出し
.about {
  @media only screen and (max-width: 450px){
    //mobile
    font-size: 2.0em;
    width: 250px;
    text-align: center;
    margin-bottom: 30px;
  }
  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
    width: 540px;
  }
  //PC
  font-size: 50px;
  width: 723px;
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: left;
  display:inline-block;
  border-bottom: solid 8px #7db4e6;
  }

//post
.list {
  @media only screen and (max-width: 450px){
    //mobile
    font-size: 20px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
    font-size: 20px;
    width: 540px;
  }
  //PC
  font-size: 20px;
  width: 600px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: left;
  display:inline-block;
  overflow-wrap: break-word;
  word-break: break-all;
  h1 {
    @media only screen and (max-width: 450px){
    //mobile
      font-size: 1.6em;
      width: 250px;
      text-align: center;
      line-height: 1.4;
    }
    @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
      font-size: 25px;
      width: 540px;
    }
    font-size: 2.5em;
    border-bottom: solid 8px #7db4e6;
    height: 50px;
    line-height: 0.8;
  }
  h2 {
    @media only screen and (max-width: 450px){
    //mobile
      font-size: 1.1em;
    }
    line-height: 1.5;
  }
}

.tag {
  @media only screen and (max-width: 450px){
    //mobile
    font-size: 20px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
    font-size: 20px;
    width: 540px;
  }
  //PC
  width: 700px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: left;
  display:inline-block;
  overflow-wrap: break-word;
  word-break: break-all;
    p {
      @media only screen and (max-width: 450px){
        //mobile
        font-size: 1.1em;
        width: 250px;
      }
      @media only screen and (min-width:451px) and (max-width:1040px){
         //tablet
        font-size: 25px;
        width: 540px;
      }
      font-size: 30px;
      line-height: 1.7;
    }
    h1 {
      @media only screen and (max-width: 450px){
        //mobile
        font-size: 1.6em;
        width: 250px;
        line-height: 1.2;
        text-align: center;
      }
      @media only screen and (min-width:451px) and (max-width:1040px){
        //tablet
        font-size: 25px;
        width: 540px;
      }
      //PC
      border-bottom: solid 8px #7db4e6;
      font-size: 3.5em;
      line-height: 0.7;
    }
  }

.tagshow {
  @media only screen and (max-width: 450px){
    font-size: 1.8em;
    width: 250px;
    line-height: 1.5;
  }
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  width: 450px;
  text-align: left;
  display:inline-block;
  h2 {
    @media only screen and (max-width: 450px){
      font-size: 18px;
    }
  }
}

//記事内の下線
hr {
  width: 350px;
  line-height: 0.8em;
  text-align: left;
  display:inline-block;
}

//code
pre, code {
  @media only screen and (max-width: 450px){
    width: auto;
  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
  }
  //PC
  margin: auto;
  width: auto; //723px
}

.post {
  //smartphone
  @media only screen and (max-width: 450px){
//    width: auto;
  }
  //tablet
  @media only screen and (min-width:451px) and (max-width:1040px){
  }
  margin-top: 50px;
  margin-bottom: 100px;
  word-wrap: break-word;

    h1 {
      font-size: 300%;
    }
}

.description {
  @media only screen and (max-width: 450px){
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
    font-size: 18px;
  }
  line-height: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 723px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-all;
　　// CKEDITOR output css
　p {
    @media only screen and (max-width: 450px){
    //mobile
    font-size: 15px;
    }
  //PC
  font-size: 16px;
  }

  h2 {
    text-align: left;
    font-size: 18px;
  }
}

.time, .tags{
  @media only screen and (max-width: 450px){
    //mobile
    font-size: 10px;
    width: 260px;
  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
  }
  font-size: 15px;
  width: 723px;
  text-align:left;
  display:inline-block;
}

.gray-line {
  background: linear-gradient(transparent 60%, #e7e7e7 0%);
}

.heading1{
  @media only screen and (max-width: 450px){
    //smartphone
    position:relative;
    padding-left:20px;
    border-bottom:2px solid #ccc;
    font-weight: bold;
    font-size: 23px;
    line-height: 38px;
    width: auto;
  }

  @media only screen and (min-width:451px) and (max-width:1040px){
    //tablet
  }

  //PC
  position:relative;
  padding-left:20px;
  border-bottom:2px solid #ccc;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  width: 723px;
  margin: auto;
  text-align: left;
}

.heading1:before{
  content:'';
  height:12px;
  width:12px;
  display:block;
  background:#00A8FF;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
  -box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
  position:absolute;
  top:-0px;
  left:5px;
  transform:rotate(-50deg);
  -webkit-transform:rotate(-50deg);
  -moz-transform:rotate(-50deg);
  -o-transform:rotate(-50deg);
  -ms-transform:rotate(-50deg);
}

.heading1:after{

  content:'';
  height:8px;
      width:6px;
      display:block;
      background:#00A8FF;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
      -box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
      -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
      -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset;
      position:absolute;
      top:16px;
      left:2px;
      transform:rotate(-90deg);
      -webkit-transform:rotate(-90deg);
      -moz-transform:rotate(-90deg);
      -o-transform:rotate(-90deg);
      -ms-transform:rotate(-75deg);
}
