<footer class="footer">
  <small>
    created by Ryosuke Fujii
  </small>
  <nav>
    <ul>
      <% if current_user %>
        <li><%= link_to('sign_out', destroy_user_session_path, :method => :delete) %></li>
        <li><%= link_to('change password', edit_registration_path(:user)) %></li>
        <% end %>
    </ul>
  </nav>
</footer>
