<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          MY BLOG
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarEexample8">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home" , root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Post", list_path %></li>
        <li><%= link_to "Tag", tags_path %></li>
      </ul>
    </div>
  </div>
</div>
</nav>