<header class="navbar">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home" , root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Post", list_path %></li>
        <li><%= link_to "Tag", tags_path %></li>
      </ul>
    </nav>
  </div>
</header>
