<!DOCTYPE html>
<html>
  <head>
    <title>MYBLOG</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('/favicon.ico') %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <%= image_tag("MYBLOG-logo.png", :class => "img") %>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
